.btn-custom {
  color: var(--primary-color);
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  text-transform: uppercase;
  transition: backgroud 0.4s, color 0.4s;
  padding: 10px 20px;
}

.roxo {
  background: var(--purple-color);
}

.roxo:hover {
  background: #6207e3;
  color: var(--primary-color)e;
}

.branco {
  border: 2px solid var(--primary-color);
}

.branco:hover {
  background-color: var(--primary-color);
  color: black;
}

@media (max-width: 575.98px) { 
  .btn-custom {
      margin: 10px 15px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
  .btn-custom {
      margin: 10px 15px;
  }
}