h1 {
  font-weight: 900;
  letter-spacing: -0.05em;
  margin-bottom: 50px ;
  color: white;
}

h2 {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: -0.04em;
}

h3 {
  h2 {
      font-size: 2em;
      font-weight: 700;
      letter-spacing: -0.04em;
  }
}