#servicos {
  background: var(--primary-color);
  padding-top: 20px;
  padding-bottom: 20px;
}

#servicos h2,h3 {
  color: var(--purple-color);
}

#servicos {
  padding-top: 20px;
  padding-bottom: 20px;
}

.albuns {
  padding: 10px 0;
}