footer {
  background: var(--footer-bg);
  padding: 50px 0px 20px 0px;
  position: relative;
}

footer {
  color: var(--footer-color);
  font-size: 0.8em;
  text-transform: uppercase;
}

footer .navbar-nav a {
  color: var(--primary-color);
  font-size: 0.8em;
}

footer .navbar-nav a:hover {
  color: var(--hover-color);
  text-decoration: none;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: right;
  margin: 0 5px;
}

footer h4 {
  font-size: 1em;
}